.container {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.Ram {
    background-color: palegreen;
    padding-bottom: 50px;
}

.Seetha {
    background-color: green;
    padding-bottom: 50px;
}

.Hanuman {
    background-color: red;
    padding-bottom: 50px;
}

.Bharatha {
    background-color: orange;
    padding-bottom: 50px;
}

@media screen and (max-width:1000px) {
    .Ram {
        background-color: violet;
        padding-bottom: 50px;
        font-size: 100px;
    }
}