.full-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: lightgray;
}

.left {
    width: 30%;
}

.left-upper {}

.center {
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
}

.right {
    width: 30%;
}

.Jennifer {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 10px;
    margin-left: 0px;
    align-items: center;
}

.left-pad {
    padding: 10px;
}

.see-more {
    background-color: darkgray;
    text-align: center;
}

.center-part-1 {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    padding-top: 10px;
}

.center-part-2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 0px;
    align-items: center;
    background-color: white;
}

.comment {
    text-align: center;
    background-color: darkgray;
}

.center-part-3 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    background-color: white;
}

.p-3-contents {
    padding-left: 5px;
}

.Photos {
    display: flex;
}

.Tag {
    display: flex;
}

.Pending {
    display: flex;
}

.birthday {
    display: flex;
}

.Peter {
    display: flex;
}

.James {
    display: flex;
}

.Richard {
    display: flex;
}

.Rosemary {
    display: flex;
}

.Olivia {
    display: flex;
}

.Sabbath {
    display: flex;
}

.center-2-p1 {
    display: flex;
    padding-top: 10px;
    text-align: center;
    align-items: center;
}