.heading {
    color: firebrick;
    text-align: center;
}

.mainbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.enterprise {
    font-size: 12px;
    width: 33%;
    text-align: center;
    background-color: rgb(125, 8, 241);
    color: rgb(245, 245, 245);
}

.others {
    width: 66%;
    justify-content: space-between;
}

.others-1 {
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home {
    background-color: violet;
    color: whitesmoke;
    font-size: 12px;
    text-align: center;
    width: 49%;
}

.vehicle {
    background-color: brown;
    color: whitesmoke;
    font-size: 12px;
    text-align: center;
    width: 49%;
}