.container{
    position: relative;
}

.bgcolor {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-size: 50vph;
    margin-top: 0;
}

.button_props{
    
    position: absolute;
        right: 750px;
    
}

.data{
    background-color: aliceblue
}
.downspace{
    padding-top: 100px;
    padding-bottom: 100px;
}
.userdata{
    padding-top: 25px;
    background-color: thistle;
}
.side-heading-fonts{
    font-weight: bold;
}

.downspace-todo{
    padding-top: 15px;
    padding-bottom: 15px;
}

.button_todo{
    position: absolute;
    top: 120px;
    right: 735px;
}


.todo-data{
    background-color: lightsteelblue;
}

.button_photos{
    position: absolute;
    top: 185px;
    left: 705px;
}

.photos_data{
    background-color: aqua;
    
}
.photos-first-item{
    margin-top: 180px;
}