.full_website {
    background-color: lightgray;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    margin-left: 90px;
    margin-right: 90px;
    color: white;
}

.Goeveni {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image {
    margin-right: 10px;
}

.john {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-1 {
    background-color: black;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.down-section {
    margin-left: 100px;
    margin-right: 100px;
}

.options {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile {
    display: flex;
    flex-direction: row;
}

.name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.right_section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.Event {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Discussion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.follower {
    display: flex;
    flex-direction: row;
}

.number {
    margin-left: 5px;
    font-weight: bold;
    color: white;
}

.main-page {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

.left_side {
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
}

.center_side {
    width: 40%;
}

.doe-login {
    font-size: large;
    font-weight: bold;
}

.account {
    padding: 10px;
    border-bottom: solid lightgray 1px;
    font-size: x-large;
}

.social {
    background-color: white;
}

.social_contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid lightgray 1px;
    padding: 10px;
}

.profile-view {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    background-color: white;
}

.heading {
    margin-left: 10px;
    font-size: x-large;
    border-bottom: solid lightgray 1px;
    padding-bottom: 10px;
}

.profile_contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: solid lightgray 1px;
}

.left-02-contents-01 {
    display: flex;
    align-items: flex-end;
    margin-left: 15px;
}

.center_side {
    margin-top: 10px;
}

.activity {
    background-color: white;
}

.activity-image {
    display: flex;
    flex-direction: row;
}

.activity-name {
    margin-left: 5px;
}

.upload {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Deo {
    margin-top: 10px;
    background-color: white;
}

.Doe-image {
    display: flex;
    flex-direction: row;
}

.doe-login {
    margin-left: 10px;
}

.doe-posts {
    margin-top: 20px;
}

.comment {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    background-color: white;
}

.like {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.comments {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}

.view {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 40%;
}

.measurement {
    margin-left: 5px;
}

.button {
    margin-left: 5px;
}

.right_side {
    width: 30%;
}

.right_section-1 {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    color: white;
}

.event-01 {
    text-align: center;
    margin-bottom: 20px;
}

.event-02 {
    margin-left: 20px;
    text-align: center;
}

.event-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Post-your-event {
    padding-top: 10px;
    padding-bottom: 10px;
}

.part-1 {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: auto;
}

.right_section-2 {
    background-color: orangered;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.part-1_1 {
    width: 50%;
}

.part-1_2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part-1_2-image {
    margin-top: 10px;
}

.part-1_2-wording {
    margin-top: 10px;
    font-size: 50px;
}

.location {
    text-align: center;
}

.day {
    text-align: center;
    margin-top: 5px;
}

.date {
    text-align: center;
    margin-top: 5px;
}

.humidity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.humidity_number {
    margin-left: 5px;
}

.temperature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.temperature-01 {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.temperature_number {
    margin-left: 5px;
}

.part-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20px;
}

.news {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.news-1 {
    padding: 10px;
    border-bottom: solid lightgray 1px;
}

.news-2_1 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 10px;
}

.news-2_2 {
    margin-left: 10px;
    margin-top: 5px;
}

.news-3_1 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 10px;
}

.news-3_2 {
    margin-left: 10px;
    border-bottom: solid lightgray 1px;
    margin-top: 5px;
}

.news-4_1 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 10px;
}

.news-4_2 {
    margin-left: 10px;
    border-bottom: solid lightgray 1px;
    margin-top: 5px;
}

.news-5_1 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 10px;
}

.news-5_2 {
    margin-left: 10px;
    border-bottom: solid lightgray 1px;
    margin-top: 5px;
}

.news-6 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-bottom: solid lightgray 1px;
}

.right_section-3 {
    background-color: white;
    border: solid green 1px;
    margin-top: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}