.full-form {
    background-color: #1AA3C8;
    color: white;
}

.contact-form {
    width: 1000px;
    padding-top: 50px;
    margin: 0 auto;
    border: solid 1px black;
}

.main-heading {
    font-size: 35px;
}

.box-height {
    height: 30px;
}

.name {
    margin-top: 50px;
    display: flex;
}

.label-min-width {
    min-width: 15%;
}

.first {
    min-width: 20%;
}

.mailbox {
    width: 100%;
}

.box-width-45 {
    width: 45%
}

ph-number {
    margin-right: 20px;
}

.phone-number {
    display: flex;
}

.phone {
    margin-top: 50px;
    display: flex;
}

.test-1 {
    width: 5%;
    border: solid 1px yellow;
}

.phone-entry {
    width: 120px;
    margin-right: 15px;
}

.name-entry {
    margin-right: 22px;
}

.message-box {
    width: 100%;
}

.mess-box {
    width: 50%;
}

.select-box-wid {
    width: 30%;
}

.msg-text {
    width: 40%;
    height: 100px;
}

.verification-box {
    width: 40%;
    height: 100px;
    background-color: sandybrown;
}