.form {
    background-color: #2AA9C6;
    width: 1900px;
}

.color {
    color: white;
}

.heading {
    font-size: 50px;
}

.minWidth {
    min-width: 30%;
}

.restWidth {
    width: 70%;
}

.flexClass {
    display: flex;
}

body {
    width: 30%;
}

.input-margin {
    margin-right: 10px;
}

.margin-bot {
    margin-bottom: 10px;
}

.child-full-width {
    width: 100%;
}

.name-width {
    width: 48%
}