#btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    position: fixed;
    bottom: 10px;
    right: 100px;
}

.toast {
    background-color: rebeccapurple;
    border-radius: 5px;
    color: white;
    padding: 5rem;
}